.collections-sec{
    width: 100%;
    min-height: 60vh;
    position: relative;
    background-color: black;
    color: white;
}
.collections-inner{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    min-height: 66vh;
    padding-top: 3rem;
}
.collection{
    display: flex;
    flex-direction: column;
    width: 19rem;
    height: 50vh;
    flex-shrink: 0;
    margin: 15px;

}
.collection-img{
    width: 100%;
    height: 85%;
    background-color: aliceblue;
}
.collection-link{
    width: 100%;
    height: 15%;
    text-align: center;
    justify-content: center;
    align-content: center;
}
.collection-buttons{
    display: flex;
    position: absolute;
    justify-content: space-between;
    left: calc(45%);
    bottom: 10px;
    width: 8rem;
}
.arrow-img{
    width: 1rem;
    cursor: pointer;
}
.arrow-left{
    transform: rotate(180deg);
}